<h1>ツイッターテスト</h1>
<hr>
<button type="submit" style = "width: 70px; height: 25px;"><%= link_to 'ツイート', post_tweets_path %></button>
<hr>
<button type="submit" style = "width: 70px; height: 25px;"><%= link_to 'リプ', '#' %></button>